body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-align: center !important; /* All Text In The Center */
    background-color:#07b1cd !important;
}

h1, h2, h3 {
    color: #2b3a42; /* Dark blue-grey */
}

h1 {
    background: linear-gradient(145deg, #6168f1, #c0a254); /* Subtle gradient for 3D feel */
    padding: 25px;
    margin: 20px 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), /* Deep shadow for depth */
    -10px -10px 20px rgba(255, 255, 255, 0.7); /* Highlight for light source */
    border-radius: 8px; /* Smooth corners */
    position: relative;
    width: 70%;
    margin-left: 250px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

h3 {
    padding: 10px;
    background-color: #f1c42f;
    width: 40%;
    margin-left: 30%;
    border-radius: 8px;
}

h2 {
    padding: 20px;
    background-color: #c4d4d7;
    width: 70%;
    border-radius: 30px;
    margin-left: 15%;
}

#Dashboard ,#Results {
    padding: 10px;
    border: 1px solid #c4d4d7;
    background: linear-gradient(145deg, #40e56b, #1f5267);
    color: #c4d4d7;
    width: 45%;
    margin-left: 28%;
    border-radius: 8px;
}

#error-message {
    color: red;
    display: none;
    background-color: white !important;
    border: 1px solid red;
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
}

h3 {
    padding: 10px;
    background-color: #f1c42f;
    width: 40%;
    margin-left: 30%;
    border-radius: 8px;
}

 h3 a {
    color: #000608;
    padding: 8px;
    background-color: #5ff393;
    border-radius: 8px;
 }

 #forms-container {
    display: flex;
    flex-direction: column; /* Stack rows vertically */
    width: 100%;
    align-items: center; /* Center the forms horizontally */
    margin: 0 auto;
}

/*Google Login button*/
.google-login {
    margin-top: 10px;
}

.google-login a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    border: 1px solid #f52121;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.google-login a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


/* Top row with single and bulk forms side by side */
#top-row {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Bottom row for schedule form */
#bottom-row {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* Form styles */
form {
    background: linear-gradient(145deg,#b37c57, #3c455c);
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
                -10px -10px 20px rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 45%; /* Adjust form width */
}

form input[type="text"], form input[type="password"], form input[type="submit"]  {
    width: 40%;
    padding: 10px;
    margin: 30px 0;
    border: 1px solid #f0f403; /* Light grey border */
    border-radius: 4px; /* Slightly rounded corners */
    text-align: center;
}

form button[type="submit"]  {
    font-size: medium;
    border: 1px solid #f0f403;
    border-radius: 5px;
    font-weight: bold;
    color: aquamarine;
    background-color: black;
    padding: 8px;
}

form input[type="file"] {
    background: #92ecb2;
    color: #060000;
    border: 1px solid #f0f403;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
}

form button[type="submit"]:hover {
    background: #d9d6cd; /* Slightly darker blue-grey */
    color: #060501;
}

#login-form ,#register-form {
    margin-left: 15%;
    width: 70%;
}

#login-form input ,#register-form input {
    padding: 8px;
    width: 20%;
}

.results_domain {
    margin-left: 5%
}

#result-form {
    width: 55% !important;
}

#domains-form {
    margin-left: 10px;
}

#monitoring-form {
   width: 95% !important;
   margin-left: 10%;
}

.cancelJob {
    font-size: medium;
    border: 1px solid #f0f403;
    border-radius: 5px;
    font-weight: bold;
    color: aquamarine;
    background-color: black;
    padding: 8px;
}

.cancelJob:hover {
    background: #d9d6cd; /* Slightly darker blue-grey */
    color: #060501;
}

label {
    font-size: medium;
    border: 1px solid #f0f403;
    border-radius: 5px;
    font-weight: bold;
    color: aquamarine;
    background-color: rgb(99, 96, 96);
    padding: 8px;
}

/*----List----*/
.list-group-item {
    width: 80%;
    margin-left: 10%;
    background-color: #c4d4d7 !important;
    text-decoration: underline;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px !important; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close:hover {
    color: red !important;
}

/*-----Table-----*/
 table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #eac1b8;
  }

  table, th, td {
    border: 1px solid black;
  }

  th, td {
    text-align: left;
    color: #000202;
    padding: 10px;
  }

  th {
    background-color: #c4d4d7;
    color: #000608;
  }

  .status-code {
    text-align: center;
  }

  .status-ok {
    color: green;
    font-weight: bold; 
    
  }
  .status-failed {
    color: red;
    font-weight: bold;
  }
  
